header {
    background: $primaryColor;
    height: 70px;
    color: white;
    display: flex;
    z-index: 2;
    position: relative;

    img {
        display: inline-block;
        height: 100%;
    }

    a {
        color: white;
        text-decoration: none;
        display: inline-block;
        line-height: 70px;
        height: 100%;
        width: 100%;
    }

    div {
        flex-basis: 50%;
        height: 100%;
        padding: 0 15px;
        
        &:nth-child(1) {
            text-align: right;
        }

        &:nth-child(2) {
            text-align: left;
        }
    }
}