$primaryColor: #1f376c;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

@import "header.scss";
@import "panorama/uploader.scss";
@import "panorama/proofer.scss";

x3proofer-panorama {
    position: relative;
    height: calc(100vh - 70px);
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;

    > * {
        display: inline-block;
        width: 100%;
        position: relative;
        transition: transform .5s;
    }

    &[view="proofer"] > * {
        transform: translateX(-100%);
    }
}

.popup {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 30px;
    background: rgba(0,0,0,.3);
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
    text-align: center;

    .popup-content {
        margin-top: 25vh;
        font-size: 18pt;
        background: white;
        max-width: 800px;
        border-radius: 25px;
        padding: 15px;
        color: $primaryColor;
        width: 100%;
        display: inline-block;
        z-index: 6;
        text-align: center;
        transition: opacity 1s;
    }

    .popup-btns {
        display: flex;
        margin: 50px 15px 15px 15px;

        .popup-btn {
            flex-basis: 50%;
            background: $primaryColor;
            color: white;
            height: 30px;
            line-height: 30px;
            font-size: 12pt;
            cursor: pointer;

            &:first-child {
                border-radius: 25px 0 0 25px;
                margin-right: 1px;
            }

            &:last-child {
                border-radius: 0 25px 25px 0;
            }

            &:hover {
                background: lighten($primaryColor, 10%);
            }
        }
    }

    &.active {
        opacity: 1;
        z-index: 5;
    }
}
