* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

@import "vars.scss";
@import "header.scss";
@import "inputs.scss";
@import "panorama/uploader.scss";
@import "panorama/proofer.scss";

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#settings-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: $primaryColor;
    color: white;
    font-size: 30px;
    text-align: center;
    display: block;
    line-height: 50px;
    cursor: pointer;
    z-index: 3;

    &:hover {
        background: lighten($primaryColor, 10%);
    }
}

#report-a-bug {
    position: fixed;
    height: 50px;
    background: transparent;
    cursor: pointer;
    bottom: 0;
    right: 0;
    line-height: 50px;
    color: white;
    text-align: center;
    display: block;
    font-size: 1.2em;
    background: $primaryColor;
    padding: 0 15px;
    text-transform: uppercase;
    z-index: 3;
    
    &:hover {
        background: lighten($primaryColor, 10%);
    }
}

x3proofer-panorama {
    position: relative;
    height: calc(100vh - 70px);
    width: 100vw;
    white-space: nowrap;
    display: block;
    z-index: 3;

    > * {
        display: inline-block;
        width: 100%;
        position: relative;
        transition: transform .5s;
        vertical-align: top;
    }

    &[view="proofer"] > * {
        transform: translateX(-100%);
    }

    x3proofer-backbtn {
        position: absolute;
        height: 70px;
        line-height: 70px;
        top: -70px;
        left: 100%;
        padding: 0 30px;
        font-size: 22px;
        text-align: right;
        width: 20%;
        color: white;
        cursor: pointer;
    }
}



.popup {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 30px;
    background: rgba(0,0,0,.3);
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
    text-align: center;

    .popup-content {
        margin-top: 25vh;
        font-size: 18pt;
        background: white;
        max-width: 800px;
        border-radius: 25px;
        padding: 15px;
        color: $primaryColor;
        width: 100%;
        display: inline-block;
        z-index: 6;
        text-align: center;
        transition: opacity 1s;
    }

    .popup-btns {
        display: flex;
        margin: 50px 15px 15px 15px;

        .popup-btn {
            flex-basis: 50%;
            background: $primaryColor;
            color: white;
            height: 30px;
            line-height: 30px;
            font-size: 12pt;
            cursor: pointer;

            &:first-child {
                border-radius: 25px 0 0 25px;
                margin-right: 1px;
            }

            &:last-child {
                border-radius: 0 25px 25px 0;
            }

            &:hover {
                background: lighten($primaryColor, 10%);
            }
        }
    }

    &.active {
        opacity: 1;
        z-index: 5;
    }
}
